# Ignore the entire Assignment directory
Assignment/

# Environment variables
*.env

# Data files
src/Knowledge_graph/Data.txt

# Log files
logs/
*.log

# Docker files
Dockerfile
.dockerignore

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Virtual environment
venv/
env/
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
coverage.xml
*.cover
*.py,cover
.hypothesis/

# PyInstaller
# Usually these files are written by a python script from a template
# before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test output
test-results/

# VS Code settings
.vscode/

# PDF files in Resources
Resources/*.pdf

# Ignore output files
Tests/Resources/Output.txt

# Ignore ontology files
*ontology.json

# Ignore git
.git

# Ignore gitignore
.gitignore